body {
	font-family: Arial, Helvetica, sans-serif;
}

.content {	
	border: 2px dotted gray;
	text-align: center;

	padding: 20px;
	margin: 10% 30%;

	display: grid;
	align-content: center;
	justify-content: center;
}

#bluesquare {
	background-color: blue;
	cursor: default;

	padding: 20px;
	margin: 20px calc(50% - 20px); /* 50% - square's size  */
}

#lastsquare {
	color: transparent;
}

#lastsquare:hover {
	color: blue;
}

a {
	text-decoration: none;
	color: black;
	cursor: default;
	padding: 0px;
	margin: 0px;
}
